<div class="feedback__cont">
	<a href="" class="feedback__close"><i class="i i-x"></i></a>
	<div class="feedback__s">
		<h2 class="feedback__h">{{_ 'Дарим месяц <br/>хостинга за каждый <br/>перенесенный <br/>к нам сайт!' 'feedback'}}</h2>
		<p class="feedback__p">{{_ 'При переносе к нам 1 сайта вы получите <br/>1 месяц хостинга, а 12 либо более —<br/> целый год бесплатного хостинга!' 'feedback'}}</p>
		<p class="feedback__p2">{{_ 'Для участия в акции необходимо лишь зарегистрироваться и в течении 15 дней перенести к нам на хостинг ваши сайты. Переносом будет считаться указание наших NS в Namesever ваших доменов.' 'feedback'}}</p>
		<p class="feedback__p2">{{_ 'Домены должны находиться на наших NS все время действия бесплатного периода.' 'feedback'}}</p>
		<form action="/auth/new?utm_source=unlimited&utm_medium=lpage&utm_campaign=unlimited_plan" class="feedback__form" method="post">
			<input type="text" class="feedback__email" maxlength="100" name="email" placeholder="{{_ 'Введите емайл' 'feedback'}}">
			<button class="feedback__submit">{{_ 'Подключиться к Justhost.ru' 'feedback'}}</button>
		</form>
		<p class="feedback__p3">{{_ 'Тестовый период 15 дней' 'feedback'}}</p>
	</div>
</div>