<div class="feedback__cont registration">
	<a href="" class="feedback__close"><i class="i i-x"></i></a>
	<div class="feedback__s">
		<h2 class="feedback__h2">{{_ 'Начать работу с Justhost' 'feedback'}}</h2>
		<form action="/auth/new" class="feedback__form" method="post">
			<input type="text" class="feedback__email" maxlength="100" name="email" placeholder="{{_ 'Введите емайл' 'feedback'}}">
			<button class="feedback__submit">{{_ 'Продолжить' 'feedback'}}</button>
		</form>
		<p class="feedback__p3">{{_ 'Тестовый период 15 дней' 'feedback'}}</p>
	</div>
</div>