// This file was generated automaticly, so don't modify it!
.i{
	background: url("/images/sprites/i-a1822.png") no-repeat 0 0;
	vertical-align:text-top;
	display:inline-block;
}
@media @highdensity {
	.i{
		background: url("/images/sprites/i-2x-a1822.png") no-repeat 0 0;
	.background-size(316px 713px);
		vertical-align:text-top;
		display:inline-block;
	}
}
.i-anders{
	width: 52px;
	height: 40px;
	background-position: 0px 0px;
}
.i-arr-l{
	width: 32px;
	height: 53px;
	background-position: 0px -41px;
}
.i-arr-r{
	width: 32px;
	height: 53px;
	background-position: 0px -95px;
}
.i-chk{
	width: 12px;
	height: 12px;
	background-position: 0px -149px;
}
.i-clnd{
	width: 103px;
	height: 136px;
	background-position: 0px -162px;
}
.i-cloud{
	width: 38px;
	height: 24px;
	background-position: 0px -299px;
}
.i-email{
	width: 24px;
	height: 25px;
	background-position: 0px -324px;
}
.i-icq{
	width: 24px;
	height: 25px;
	background-position: 0px -350px;
}
.i-inf{
	width: 316px;
	height: 162px;
	background-position: 0px -376px;
}
.i-ms{
	width: 62px;
	height: 40px;
	background-position: 0px -539px;
}
.i-phone{
	width: 24px;
	height: 25px;
	background-position: 0px -580px;
}
.i-ripe{
	width: 74px;
	height: 40px;
	background-position: 0px -606px;
}
.i-rosnano{
	width: 27px;
	height: 40px;
	background-position: 0px -647px;
}
.i-skp{
	width: 24px;
	height: 25px;
	background-position: 0px -688px;
}
