<header class="landing__header">
	<div class="container">
		<div class="landing__header-info">
			<p class="landing__header-info-p1">8 800 100 60 09, +7 495 668 09 03</p>
			<p class="landing__header-info-p2">{{_ 'Лицензия №87316' 'landing'}}</p>
		</div>
		<a href="/" target="_self" class="landing__logo-a"><div class="landing__logo"></div></a>
		<div class="landing__header-btn-cont">
			<p class="landing__header-btn-p">8 800 100 60 09, +7 495 668 09 03</p>
			<button class="landing__header-btn">{{_ 'Заказать хостинг' 'landing'}}</button>
		</div>
	</div>
</header>
<section class="landing-section landing-section1">
	<div class="landing__container">
		<div class="landing__container-in">
			<i class="i i-inf"></i>
			<h1 class="landing__h1">{{_ 'Честный хостинг без тарифов и ограничений' 'landing_page'}}</h1>
		</div>
	</div>
</section>
<section class="landing-section landing-section2">
	<div class="landing__s2_col1">
		<div class="landing__s2_col1-in">
			<!-- <h2 class="landing__h2">{{_ 'Тарифы?' 'landing'}}</h2> -->
			<p class="landing__p">{{_ 'В JustHost.ru нет тарифов — оплата по факту использования дискового пространства. Всё остальное без ограничений. Списание раз в сутки.' 'landing'}}</p>
			<p class="landing__misc">{{_ 'Например, сайт на Wordpress обычно занимает 250 Мб и стоимость для такого сайта составит 20 рублей в месяц.' 'landing'}}</p>
		</div>
	</div>
	<div class="landing__s2_col2">
		<div class="landing__s2_col2-in">
			<h2 class="landing__h2">{{_ '8 копеек' 'landing'}}</h2>
			<p class="landing__p">{{_ 'за мегабайт в месяц' 'landing'}}</p>
			{{!--<h2 class="landing__h3">{{_ '+ <i class="i i-onetenth"></i> <span>копейки</span>' 'landing'}}</h2>
			<p class="landing__p">{{_ 'за 1 мегабайт' 'landing'}}</p>--}}
			<a href="register" class="landing__s2_col2-a">{{_ 'Получите <mark>бесплатно</mark> до 12 месяцев хостинга за перенос сайтов!' 'landing'}}</a>
		</div>
	</div>
</section>
<section class="landing-section landing-section3">
	<div class="landing__container">
		<div class="landing__block1">
			<h3 class="landing__h3">{{_ 'Все включено' 'landing'}}</h3>
			<a href="toggle" class="landing__toggler">
				<span class="landing__toggler-t1">{{_ 'Без подробностей' 'landing'}}</span><span class="landing__toggler-widget"><div class="landing__toggler-pin"></div></span><span class="landing__toggler-t2">{{_ 'Технические детали' 'landing'}}</span>
			</a>
			<ul class="landing__s3-list">
				<li class="less"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Удобная панель управления' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Панель <strong>DirectAdmin</strong>' 'landing'}}</span></li>
				<li class="less"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Бесплатный неограниченный трафик' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Поддержка <strong>IPv6</strong>' 'landing'}}</span></li>
				<li class="less"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Без тарифов, всё включено' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Выделенные изолированные ресурсы' 'landing'}}</span></li>
				<li class="less"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Используйте бесплатно 15 дней' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Кластерная облачная платформа' 'landing'}}</span></li>
				<li class="less"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Повышенная безопасность' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Работают все популярные CMS' 'landing'}}</span></li>
				<li class="less"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Любое количество сайтов и баз данных' 'landing'}}</span></li>
				<li class="more adv"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Поддержка <strong>PHP</strong> 4.4, 5.2, 5.3, 5.4, 5.5, 5.6' 'landing'}}</span><span class="landing__s3-itm-misc">{{_ 'версию PHP вы можете выбрать в любой момент в панели управления' 'landing'}}</span></li>
				<li class="less"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Мягкая добрая техподдержка' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ '<strong>Perl</strong>, <strong>Python</strong>, <strong>SSI</strong>' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Базы данных <strong>MySQL</strong>, <strong>PostgreSQL</strong>' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Бесплатный неограниченный трафик' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Доступ по протоколу <strong>SSH</strong> (shell)' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Паролирование директорий' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Поддержка выделенных IP-адресов (50 руб./шт.)' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Поддержка <strong>SSL</strong>-сертификатов' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Файловый менеджер в панели управления' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Автоматическое и ручное резервное копирование' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Система статистики <strong>Webalizer</strong>' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Веб-интерфейс для работы с почтой <strong>IonCube</strong>' 'landing'}}</span></li>
				<li class="more"><i class="i i-chk"></i><span class="landing__s3-itm">{{_ 'Техническая поддержка 24 / 7 / 365' 'landing'}}</span></li>
			</ul>
		</div>
		<div class="landing__block2">
			<div class="landing__block2-in1">
				<i class="i i-cloud"></i>
				<h4 class="landing__h3">{{_ 'Облачный хостинг' 'landing'}}</h4>
				<p class="landing__p">{{_ 'Благодаря технологии CloudLinux мы не ограничиваем количество сайтов, почтовых аккаунтов и баз данных. Более того, за счет виртуализации окружения каждого пользователя, многократно повышается уровень безопасности.' 'landing'}}</p>
			</div>
			<div class="landing__block2-in2">
				<i class="i i-server"></i>
				<h4 class="landing__h3">{{_ 'Вычислительные ресурсы' 'landing'}}</h4>
				<p class="landing__p">{{_ 'Каждому пользователю выделяется виртуальный компьютер со следующими параметрами: 2 GHz процессор и 1 Gb памяти для процессов (например, ваших PHP-скриптов)' 'landing'}}</p>
			</div>
		</div>
	</div>
</section>
<section class="landing-section landing-section7">
	<div class="landing__container">
		<h2 class="landing__h2">{{_ 'Только живые отзывы' 'landing'}}</h2>
		<div class="landing__reviews">
			<a href="left" class="landing__review-left"><i class="i i-arr-l"></i></a>
			<ul class="landing__review-list">
				<li class="landing__review">
					<p class="landing__p">«Оборудование было размещено предельно быстро, после чего были некие проблемы с моим ПО, с решением которых мне безотказно и оперативно помогла тех. поддержка. Очень благодарен данному хостингу, и не на секунду не пожалел что выбрал именно его!»</p>
					<div class="landing__review-desc">
						<span class="landing__review-author">— Владислав Ладьин</span>
						<a class="landing__review-a" target="_blank" href="http://hostdb.ru/providers/opinions/id/59">http://hostdb.ru/providers/opinions/id/59</a>
					</div>
				</li>
				<li class="landing__review">
					<p class="landing__p">«За всё время обслуживания не заметил ни одной проблемы. Всё на высшем уровне за умеренную плату. К ним перешел с другого Vps (не буду рекламировать) и ни капли не жалею, так как это первый мой удачный хостинг без преувеличения. Очень благодарен ребятам из тех поддержки, выручали не один раз»</p>
					<div class="landing__review-desc">
						<span class="landing__review-author">— Артём Бирковский</span>
						<a class="landing__review-a"  target="_blank" href="http://hostdb.ru/providers/opinions/id/59">http://hostdb.ru/providers/opinions/id/59</a>
					</div>
				</li>
				<li class="landing__review">
					<p class="landing__p">«Отлично работают ребята. Тех.поддержка, вообще работает на 5 баллов. Скорость работы сайтов приятно радует. Ушел от прежнего хостера и перенес несколько сайтов на JustHost»</p>
					<div class="landing__review-desc">
						<span class="landing__review-author">— Рябов Дмитрий</span>
						<a class="landing__review-a"  target="_blank" href="http://hostdb.ru/providers/opinions/id/59">http://hostdb.ru/providers/opinions/id/59</a>
					</div>
				</li>
				<li class="landing__review">
					<p class="landing__p">«Хороший понятный хостинг. Техподдержка отвечает очень быстро и помогает разобраться буквально онлайн. Мне помогли разместить сайт и даже помогли внести исправления в PHP скрипты сайта. Очень доволен!	»</p>
					<div class="landing__review-desc">
						<span class="landing__review-author">— Игорь Николаевич</span>
						<a class="landing__review-a"  target="_blank" href="http://hostdb.ru/providers/opinions/id/59">http://hostdb.ru/providers/opinions/id/59</a>
					</div>
				</li>
			</ul>
			<a href="right" class="landing__review-right"><i class="i i-arr-r"></i></a>
		</div>
	</div>
</section>
<section class="landing-section landing-section5">
	<div class="landing__container">
		<div class="landing__s5-col1">
			<h3 class="landing__h3">{{_ 'Гарантия безотказной работы' 'landing'}}</h3>
			<p class="landing__p">{{_ 'Наша техподдержка — это адекватные живые люди, которые всегда готовы помочь.  Мы не отправляем вас гуглить или изучать документацию, мы просто решаем вашу проблему.' 'landing'}}</p>
		</div>
		<div class="landing__s5-col2">
			<p class="landing__p"><i class="i i-email"></i><i class="i i-phone"></i><span class="landing-sp">{{_ '— Круглосуточно' 'landing'}}</span></p>
			<p class="landing__p"><i class="i i-icq"></i><i class="i i-skp"></i><span class="landing-sp">{{_ '— пн–пт, 10:00–20:00' 'landing'}}</span></p>
		</div>
	</div>
</section>
<section class="landing-section landing-section4">
	<div class="landing__container">
		<i class="i i-clnd"></i>
		<div class="landing__s4-col">
			<h3 class="landing__h2">{{_ 'Попробуйте бесплатно' 'landing'}}</h3>
			<p class="landing__p">{{_ 'Получите хостинг сразу после заказа, а оплатить счет в личном кабинете можно в течение 15 дней. Домен можно не указывать, будет создан тестовый домен. Просто загрузите сайт и тестируйте 15 дней.' 'landing'}}</p>
		</div>
	</div>
</section>
<section class="landing-section landing-section8">
	<div class="landing__container">
		<h2 class="landing__h2">{{_ 'Начать работу с Justhost' 'landing'}}</h2>
		<form class="landing__email-form" method="post" action="/auth/new">
			<input type="text" maxlength="100" name="email" class="landing__email-inp" placeholder="{{_ 'Введите емайл' 'landing'}}">
			<button class="landing__email-submit">{{_ 'Продолжить' 'landing'}}</button>
			<p class="landing__email-desc">{{_ 'Тестовый период 15 дней'}}</p>
		</form>
	</div>
</section>
<section class="landing-section landing-section9">
	<div class="landing__container">
		<i class="i i-star"></i>
		<div class="landing__s9-col">
			<h3 class="landing__h2">{{_ 'Дарим месяц хостинга за каждый перенесенный к нам сайт!' 'landing'}}</h3>
			<p class="landing__p"><strong>{{_ 'При переносе к нам 1 сайта вы получите 1 месяц хостинга, а 12 либо более — целый год бесплатного хостинга!' 'landing'}}</strong></p>
			<p class="landing__p">{{_ 'Для участия в акции необходимо зарегистрироваться и в течении 15 дней перенести к нам на хостинг ваши сайты. Переносом будет считаться указание наших NS в Namesever ваших доменов.' 'landing'}}</p>
			<p class="landing__p">{{_ 'Домены должны находиться на наших NS все время действия бесплатного периода.' 'landing'}}</p>
		</div>
	</div>
</section>
<section class="landing-section landing-section6">
	<div class="landing__container">
		<h2 class="landing__h2">{{_ 'JustHost.ru — торговая марка компании Баксэт. С 2006 года на рынке хостинга' 'landing'}}</h2>
		<div class="landing__s6-logos"><i class="i i-ripe"></i><i class="i i-anders"></i><i class="i i-ms"></i><i class="i i-rosnano"></i></div>
		<div class="landing__s6-col1">
			<p class="landing__p">{{_ 'Получена <a href="" target="_blank">лицензия МинСвязи РФ №87316</a> на телематические услуги связи' 'landing'}}</p>
			<p class="landing__p">{{_ 'Сдан узел связи в соответствии с требованиями лицензии на телематические услуги связи' 'landing'}}</p>
			<p class="landing__p">{{_ 'ООО «Баксэт» является партнером RIPE. Получен статус LIR (Local Internet Registry) <a href="https://www.ripe.net/membership/indices/data/ru.bxtgroup.html" target="_blank">https://www.ripe.net/membership/indices/data/ru.bxtgroup.html</a>' 'landing'}}</p>
			<p class="landing__p">{{_ 'Используем инфраструктуру лучших датацентров Москвы: Anders и Ростелеком. Наше оборудование географически распределено, централизованное хранилище используется только под бэкапы' 'landing'}}</p>
		</div>
		<div class="landing__s6-col2">
			<p class="landing__p">{{_ 'ООО «Баксэт» является SPLA-партнером Microsoft (No. OX 10-100 от 11.05.2010);' 'landing'}}</p>
			<p class="landing__p">{{_ 'Блокируем сайты только по запросу МВД и решению суда;' 'landing'}}</p>
			<p class="landing__p">{{_ 'Вы всегда можете прийти к нам в офис по адресу: 124489, Москва, Зеленоград, Сосновая аллея, д. 4, стр. 2, оф. 120;' 'landing'}}</p>
			<p class="landing__p">{{_ 'Круглосуточная поддержка по email и телефону, а так же по ICQ и Skype в рабочее время.' 'landing'}}</p>
		</div>
	</div>
</section>
<footer class="landing__footer">
	<div class="services__partners">
		<ul>
			<li><a href="http://www.paypal.com/" target="_blank" rel="nofollow"><img src="/img/partners/paypal.gif" border="0"></a></li>
			<li><a href="http://www.directadmin.com/" target="_blank" rel="nofollow"><img src="/img/partners/directadmin-logo.gif" border="0"></a></li>
			<li><a href="http://www.nic.ru/" target="_blank" rel="nofollow"><img src="/img/partners/ru-center4.gif" border="0"></a></li>
			<li><a href="http://www.assist.ru/" target="_blank" rel="nofollow"><img src="/img/partners/assist-logo.gif" border="0"></a></li>
			<li><a href="http://www.paymaster.ru/" target="_blank" rel="nofollow"><img src="/img/partners/paymaster-logo.png" style="height: 25px;" border="0"></a></li>
			<li><a href="http://www.microsoft.com/ru-ru/hosting/licensing/splabenefits.aspx" target="_blank" rel="nofollow"><img src="/img/partners/ms-spla.jpg" border="0"></a></li>
			<li><a href="https://www.ripe.net/membership/indices/data/ru.bxtgroup.html" title="LLC Baxet" target="_blank" rel="nofollow"><img src="/img/partners/ncc-member-logo.png" border="0"></a></li>
			<li><a target="_blank" href="http://ipv6-test.com/validate.php?url=justhost.ru" rel="nofollow">
					<img src="/img/partners/ipv6-small.png" border="0" alt="IPv6 Ready"></a></li>
		</ul>
	</div>
	<div class="cut-line"></div>
	<div class="footer">
		<div class="footer__links_blocks_handler">
			<ul>
				<li><a href="http://www.facebook.com/Justhostru" target="_blank" class="facebook" rel="nofollow"><img src="/img/site/fb.png"></a></li>
	<!--            <li style="padding-left: 19px;">
					<a href="http://hostdb.ru" title="Портал о хостинге и хостинг-провайдерах." target="_blank"><img src="https://hostdb.ru/get_logo.php?id=59&type=1" alt="Портал о хостинге и хостинг-провайдерах." width="88" height="31" border="0"></a>
				</li>-->
			</ul>

			<ul>
				<li class="footer__links_header">О Компании</li>
				<li><a target="_self" href="/kb/about">Лицензии</a></li>
				<li><a target="_self" href="/support">Контакты</a></li>
				<li><a target="_self" href="/kb/recv">Реквизиты</a></li>
				<li><a target="_self" href="/kb/billing">Способы оплаты</a></li>
				<li><a target="_self" href="/kb/jobs">Вакансии</a></li>
			</ul>

			<ul>
				<li class="footer__links_header">Мы предлагаем</li>
				<li><a target="_self" href="/services/hosting" rel="nofollow">Хостинг и реселлинг</a></li>
				<li><a target="_self" href="/services/vps" rel="nofollow">Виртуальные серверы</a></li>
				<li><a target="_self" href="/services/dedic" rel="nofollow">Выделенные серверы</a></li>
				<li><a target="_self" href="/services/colo" rel="nofollow">Размещение оборудования</a></li>
				<li><a target="_self" href="/services/compare" rel="nofollow">Подобрать решение</a></li>
				<li></li>
			</ul>

			<ul>
				<li class="footer__links_header">Поддержка</li>
				<li><a target="_self" href="/kb/docs">Документы</a></li>
				<li><a target="_self" href="/kb/">База знаний</a></li>
				<li><a target="_self" href="/support">Обращение в службу поддержки</a></li>
			</ul>
		</div>

		<div class="footer__version">© 2006-2014 JustHost.ru</div>
	</div>
	
</footer>