.vkGradient {
  background-image: -moz-linear-gradient(top, #5b89b6, #39659b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5b89b6), to(#39659b));
  background-image: -webkit-linear-gradient(top, #5b89b6, #39659b);
  background-image: -o-linear-gradient(top, #5b89b6, #39659b);
  background-image: linear-gradient(to bottom, #5b89b6, #39659b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5b89b6', endColorstr='#ff39659b', GradientType=0);
}
.fbGradient {
  background-image: -moz-linear-gradient(top, #4e6ca6, #2e4886);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e6ca6), to(#2e4886));
  background-image: -webkit-linear-gradient(top, #4e6ca6, #2e4886);
  background-image: -o-linear-gradient(top, #4e6ca6, #2e4886);
  background-image: linear-gradient(to bottom, #4e6ca6, #2e4886);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e6ca6', endColorstr='#ff2e4886', GradientType=0);
}
.twGradient {
  background-image: -moz-linear-gradient(top, #00b3d8, #0097c7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00b3d8), to(#0097c7));
  background-image: -webkit-linear-gradient(top, #00b3d8, #0097c7);
  background-image: -o-linear-gradient(top, #00b3d8, #0097c7);
  background-image: linear-gradient(to bottom, #00b3d8, #0097c7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00b3d8', endColorstr='#ff0097c7', GradientType=0);
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.clearright {
  *zoom: 1;
}
.clearright:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearright:after {
  clear: both;
}
.pseudo {
  color: #158adb;
  border-bottom: 1px dotted #158adb;
  cursor: pointer;
}
.pseudo .hover,
.pseudo:hover {
  color: #158adb;
  border-color: #158adb;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none;
}
.hidden-input {
  position: absolute;
  left: -99999px;
}
.hidden-submit {
  font-size: 0;
  width: 0;
  height: 0;
  position: absolute;
  line-height: 0;
  visibility: hidden;
  left: -1000px;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dimension-measurer {
  display: block !important;
  position: absolute;
  visibility: hidden;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:hover,
a:active {
  outline: 0;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
dd {
  margin: 0 0 0 40px;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  margin: 0;
  font-family: 'proxima_nova_rgregular', Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #222a32;
  background-color: #ffffff;
}
a {
  color: #158adb;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #158adb;
  text-decoration: underline;
}
.row {
  margin-left: -40px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 40px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 960px;
}
.span12 {
  width: 960px;
}
.span11 {
  width: 880px;
}
.span10 {
  width: 800px;
}
.span9 {
  width: 720px;
}
.span8 {
  width: 640px;
}
.span7 {
  width: 560px;
}
.span6 {
  width: 480px;
}
.span5 {
  width: 400px;
}
.span4 {
  width: 320px;
}
.span3 {
  width: 240px;
}
.span2 {
  width: 160px;
}
.span1 {
  width: 80px;
}
.offset12 {
  margin-left: 1000px;
}
.offset11 {
  margin-left: 920px;
}
.offset10 {
  margin-left: 840px;
}
.offset9 {
  margin-left: 760px;
}
.offset8 {
  margin-left: 680px;
}
.offset7 {
  margin-left: 600px;
}
.offset6 {
  margin-left: 520px;
}
.offset5 {
  margin-left: 440px;
}
.offset4 {
  margin-left: 360px;
}
.offset3 {
  margin-left: 280px;
}
.offset2 {
  margin-left: 200px;
}
.offset1 {
  margin-left: 120px;
}
[class*="span"].hide {
  display: none;
}
[class*="span"].pull-right {
  float: right;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}
.container-fluid {
  padding-right: 40px;
  padding-left: 40px;
  *zoom: 1;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.container-fluid:after {
  clear: both;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
.inv {
  position: absolute;
  top: -99997px;
  left: -99997px;
}
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('/styles/font/mark_simonson_-_proxima_nova_regular-webfont.eot');
  src: url('/styles/font/mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'), url('/styles/font/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff'), url('/styles/font/mark_simonson_-_proxima_nova_regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url('/styles/font/mark_simonson_-_proxima_nova_light-webfont.eot');
  src: url('/styles/font/mark_simonson_-_proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'), url('/styles/font/mark_simonson_-_proxima_nova_light-webfont.woff') format('woff'), url('/styles/font/mark_simonson_-_proxima_nova_light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_thextrabold';
  src: url('/styles/font/mark_simonson_-_proxima_nova_extrabold-webfont.eot');
  src: url('/styles/font/mark_simonson_-_proxima_nova_extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('/styles/font/mark_simonson_-_proxima_nova_extrabold-webfont.woff') format('woff'), url('/styles/font/mark_simonson_-_proxima_nova_extrabold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('/styles/font/mark_simonson_-_proxima_nova_bold-webfont.eot');
  src: url('/styles/font/mark_simonson_-_proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'), url('/styles/font/mark_simonson_-_proxima_nova_bold-webfont.woff') format('woff'), url('/styles/font/mark_simonson_-_proxima_nova_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('/styles/font/mark_simonson_-_proxima_nova_semibold-webfont.eot');
  src: url('/styles/font/mark_simonson_-_proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/styles/font/mark_simonson_-_proxima_nova_semibold-webfont.woff') format('woff'), url('/styles/font/mark_simonson_-_proxima_nova_semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font_light {
  font-family: 'proxima_nova_ltlight';
  font-weight: normal;
}
.font_regular {
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
}
.font_exbold {
  font-family: 'proxima_nova_thextrabold';
  font-weight: normal;
}
.font_bold {
  font-family: 'proxima_nova_rgbold';
  font-weight: normal;
}
.font_sebold {
  font-family: 'proxima_nova_ltsemibold';
  font-weight: normal;
}
HTML {
  height: 100%;
}
BODY {
  font-family: 'proxima_nova_rgregular', Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #222a32;
  margin: 0;
  padding: 0;
  background: #ffffff;
}
#wrapper {
  margin: 0 auto;
  width: 1040px;
  background: #8c8c8c;
  padding: 0;
  min-height: 100%;
  height: auto !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#jhst-container {
  min-height: 640px;
  height: 100%;
}
a {
  color: #158adb;
}
a:hover {
  color: #158adb;
}
.icon {
  position: relative;
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
h1 {
  margin-top: 0;
}
#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.95;
  filter: alpha(opacity=95);
  z-index: 1060;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#fader.in {
  opacity: 0;
  filter: alpha(opacity=0);
}
.input_error {
  color: #C81414 !important;
}
.input_error:-moz-placeholder {
  color: #c81414;
}
.input_error::-moz-placeholder {
  color: #c81414;
}
.input_error:-ms-input-placeholder {
  color: #c81414;
}
.input_error::-webkit-input-placeholder {
  color: #c81414;
}
.hsh {
  color: #158adb;
  text-decoration: none;
}
.hsh:hover {
  color: #158adb;
  text-decoration: underline;
}
.lnk,
.unm {
  text-decoration: none;
}
.lnk:hover,
.unm:hover {
  text-decoration: underline;
}
.lazy {
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: opacity 0.8s;
  opacity: 0;
  width: 100%;
}
.img-loaded .lazy {
  opacity: 1;
}
.load-bg {
  background: #f8f8fa url(/images/ani/spinner.gif) center center no-repeat;
}
.img-loaded.load-bg {
  background-image: none;
}
.cover-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.input_clear {
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  overflow: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.jhst__inp-group {
  overflow: hidden;
  border: 1px solid #dcdcdc;
  border-top-color: #bebebe;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 29px;
}
.jhst__inp-cont_empty {
  font-size: 0;
  line-height: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin-bottom: 26px;
}
.jhst__inp-cont {
  font-size: 0;
  line-height: 0;
  padding: 14px;
  height: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-bottom: 1px solid #dcdcdc;
}
.jhst__inp-cont:last-child {
  margin-bottom: -1px;
}
.jhst__select-cont {
  height: auto;
}
.jhst__lbl {
  font-size: 13px;
  line-height: 16px;
  float: left;
  position: relative;
  color: #969696;
}
.jhst__inp-cont-in {
  font-size: 0;
  line-height: 0;
  margin-left: 146px;
}
.jhst__inp {
  resize: none;
  border: none;
  font-size: 13px;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
  color: #222a32;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  outline: none;
  padding: 0;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-align: left;
  background-color: transparent;
}
.jhst__inp:focus {
  color: #222a32;
}
.jhst__inp:disabled {
  color: #969696;
}
.jhst__inp:-moz-placeholder {
  color: #969696;
}
.jhst__inp::-moz-placeholder {
  color: #969696;
}
.jhst__inp:-ms-input-placeholder {
  color: #969696;
}
.jhst__inp::-webkit-input-placeholder {
  color: #969696;
}
.jhst__select {
  resize: none;
  border-color: #8c8c8c;
  font-size: 13px;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
  color: #222a32;
  vertical-align: top;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-align: left;
  background-color: transparent;
}
.jhst__select:focus {
  color: #222a32;
}
.jhst__select:disabled {
  color: #969696;
}
.jhst__select:-moz-placeholder {
  color: #969696;
}
.jhst__select::-moz-placeholder {
  color: #969696;
}
.jhst__select:-ms-input-placeholder {
  color: #969696;
}
.jhst__select::-webkit-input-placeholder {
  color: #969696;
}
.error-inp {
  background-color: #fff0f0;
}
.error-inp .jhst__lbl {
  color: #c81414;
}
.error-inp input,
.error-inp textarea {
  color: #c81414 !important;
}
.error-inp input:-moz-placeholder,
.error-inp textarea:-moz-placeholder {
  color: #c81414;
}
.error-inp input::-moz-placeholder,
.error-inp textarea::-moz-placeholder {
  color: #c81414;
}
.error-inp input:-ms-input-placeholder,
.error-inp textarea:-ms-input-placeholder {
  color: #c81414;
}
.error-inp input::-webkit-input-placeholder,
.error-inp textarea::-webkit-input-placeholder {
  color: #c81414;
}
.jhst__toggle {
  font-size: 0;
  line-height: 0;
  display: inline-block;
}
.jhst__toggle-sp {
  display: inline-block;
}
.jhst__toggle_on,
.jhst__toggle_off {
  cursor: pointer;
  color: #868e96;
  text-decoration: none;
  display: inline-block;
  background: #ffffff;
  background-color: #2cb482;
  padding: 6px 10px;
  overflow: hidden;
  border-style: solid;
  border-width: 0;
  font-size: 11px;
  line-height: 1;
}
.jhst__toggle_on:hover,
.jhst__toggle_off:hover,
.jhst__toggle_on:active,
.jhst__toggle_off:active {
  text-decoration: none;
  color: #868e96;
}
.jhst__toggle_on {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  -webkit-box-shadow: inset 1px 2px 4px #00634b;
  -moz-box-shadow: inset 1px 2px 4px #00634b;
  box-shadow: inset 1px 2px 4px #00634b;
}
.jhst__toggle_off {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-shadow: inset -1px 2px 4px #bdbdc5;
  -moz-box-shadow: inset -1px 2px 4px #bdbdc5;
  box-shadow: inset -1px 2px 4px #bdbdc5;
}
.off .jhst__toggle_on {
  color: #7c848c;
  background-color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #cfcfd2;
  border-width: 1px 0 2px 1px;
  padding: 5px 10px 4px 9px;
}
.off .jhst__toggle_on:hover {
  color: #7c848c;
}
.off .jhst__toggle_off {
  color: #868e96;
  background-color: #eeeff0;
  border-bottom-color: #ebebed;
  border-bottom-width: 1px;
  padding-bottom: 5px;
}
.off .jhst__toggle_off:hover {
  color: #868e96;
}
.on .jhst__toggle_on {
  color: #ffffff;
  background-color: #2cb482;
}
.on .jhst__toggle_on:hover {
  color: #ffffff;
}
.on .jhst__toggle_off {
  color: #7c848c;
  background-color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #cfcfd2;
  border-width: 1px 1px 2px 0;
  padding: 5px 9px 4px 10px;
}
.on .jhst__toggle_off:hover {
  color: #7c848c;
  text-decoration: none;
}
label {
  display: block;
  margin-bottom: 0;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #969696;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #969696;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #969696;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #969696;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  background-color: #009ee7;
  border-color: #0077d6;
  border-style: solid;
  border-width: 0 1px 2px 0;
  padding: 10px 40px 10px 41px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
.btn:focus,
.btn:active,
.btn:hover {
  color: #ffffff;
  text-decoration: none;
}
.btn:active {
  border-width: 2px 0 0 1px;
  padding: 8px 41px 12px 40px;
}
.btn_short {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  display: inline-block;
  background-color: #009ee7;
  border-color: #0077d6;
  border-style: solid;
  border-width: 0 1px 2px 0;
  padding: 10px 27px 10px 28px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn_short:focus,
.btn_short:active,
.btn_short:hover {
  color: #ffffff;
  text-decoration: none;
}
.btn_short:active {
  border-width: 2px 0 0 1px;
  padding: 8px 28px 12px 27px;
}
.btn-blue {
  background-color: #009ee7;
  border-color: #0077d6;
}
.btn-green {
  background-color: #2fad76;
  border-color: #21946a;
}
.btn-gray {
  background-color: #8c8c8c;
  border-color: #6e6e6e;
}
.btn-red {
  background-color: #ec6751;
  border-color: #bc3721;
}
.i {
  background: url("/images/sprites/i-4226c.png") no-repeat 0 0;
  vertical-align: text-top;
  display: inline-block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  .i {
    background: url("/images/sprites/i-2x-4226c.png") no-repeat 0 0;
    -webkit-background-size: 318px 759px;
    -moz-background-size: 318px 759px;
    -o-background-size: 318px 759px;
    background-size: 318px 759px;
    vertical-align: text-top;
    display: inline-block;
  }
}
.i-anders {
  width: 52px;
  height: 40px;
  background-position: 0px 0px;
}
.i-arr-l {
  width: 32px;
  height: 53px;
  background-position: 0px -41px;
}
.i-arr-r {
  width: 32px;
  height: 53px;
  background-position: 0px -95px;
}
.i-chk {
  width: 12px;
  height: 12px;
  background-position: 0px -149px;
}
.i-clnd {
  width: 103px;
  height: 136px;
  background-position: 0px -162px;
}
.i-cloud {
  width: 38px;
  height: 24px;
  background-position: 0px -299px;
}
.i-email {
  width: 24px;
  height: 25px;
  background-position: 0px -324px;
}
.i-icq {
  width: 24px;
  height: 25px;
  background-position: 0px -350px;
}
.i-inf {
  width: 318px;
  height: 162px;
  background-position: 0px -376px;
}
.i-ms {
  width: 62px;
  height: 40px;
  background-position: 0px -539px;
}
.i-phone {
  width: 24px;
  height: 25px;
  background-position: 0px -580px;
}
.i-ripe {
  width: 74px;
  height: 40px;
  background-position: 0px -606px;
}
.i-rosnano {
  width: 27px;
  height: 40px;
  background-position: 0px -647px;
}
.i-skp {
  width: 24px;
  height: 25px;
  background-position: 0px -688px;
}
.i-x {
  width: 45px;
  height: 45px;
  background-position: 0px -714px;
}
/*@-webkit-keyframes shake {
	0% { .translate(0, 0) }
	25% { .translate(-20px, 0) }
	50% { .translate(10px, 0) }
	75% { .translate(-20px, 0) }
	100% { .translate(0, 0) }
}
@-moz-keyframes shake {
	0% { .translate(0, 0) }
	25% { .translate(-20px, 0) }
	50% { .translate(10px, 0) }
	75% { .translate(-20px, 0) }
	100% { .translate(0, 0) }
}
@-ms-keyframes shake {
	0% { .translate(0, 0) }
	25% { .translate(-20px, 0) }
	50% { .translate(10px, 0) }
	75% { .translate(-20px, 0) }
	100% { .translate(0, 0) }
}
@-o-keyframes shake {
	0% { .translate(0, 0) }
	25% { .translate(-20px, 0) }
	50% { .translate(10px, 0) }
	75% { .translate(-20px, 0) }
	100% { .translate(0, 0) }
}
@keyframes shake {
	0% { .translate(0, 0) }
	25% { .translate(-20px, 0) }
	50% { .translate(10px, 0) }
	75% { .translate(-20px, 0) }
	100% { .translate(0, 0) }
}




@-webkit-keyframes blink {
	0% {opacity:0;}
	10% {opacity:1;}
	85% {opacity:1;}
	100% {opacity:0;}
}

@-moz-keyframes blink {
	0% {opacity:0;}
	10% {opacity:1;}
	85% {opacity:1;}
	100% {opacity:0;}
}

@-ms-keyframes blink {
	0% {opacity:0;}
	10% {opacity:1;}
	85% {opacity:1;}
	100% {opacity:0;}
}

@-o-keyframes blink {
	0% {opacity:0;}
	10% {opacity:1;}
	85% {opacity:1;}
	100% {opacity:0;}
}

@keyframes blink {
	0% {opacity:0;}
	10% {opacity:1;}
	85% {opacity:1;}
	100% {opacity:0;}
}
*/
.popup {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1070;
  overflow: auto;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  -o-transition: opacity 0.3s, -o-transform 0.3s;
  transition: opacity .3s, transform .3s;
  opacity: 1;
  filter: alpha(opacity=100);
}
.popup.in {
  opacity: 0;
  filter: alpha(opacity=0);
}
.popup__inner {
  position: relative;
  float: none;
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.popup__content {
  padding: 0;
  margin: 40px auto;
}
.popup__table {
  height: 100%;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: rgba(0, 0, 10, 0.44);
}
.popup__table TD {
  vertical-align: middle;
  padding: 0;
}
.popup__close {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.popup__close .popup__close-col {
  position: fixed;
  width: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: rgba(204, 204, 204, 0);
}
.popup__close .close {
  cursor: pointer;
  background: url("/images/sprites/i-4226c.png") no-repeat 0 0;
  vertical-align: text-top;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  top: 0;
  right: 0;
  line-height: 0;
  font-size: 0;
}
.popup__previous {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 50%;
  cursor: pointer;
}
.popup__previous .popup__previous-col {
  position: fixed;
  width: 90px;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: rgba(204, 204, 204, 0);
}
.popup__previous .prev {
  position: fixed;
  top: 34px;
  left: 35px;
  display: none;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 16px 16px 16px 0;
  border-color: transparent #cccccc transparent transparent;
}
.popup__previous:hover .prev {
  border-color: transparent #8c8c8c transparent transparent;
}
.popup__close-btn {
  float: right;
  cursor: pointer;
  background-color: #505050;
  margin-top: -27px;
}
.has-context .popup__close:hover .popup__close-col {
  background-color: rgba(204, 204, 204, 0.3);
}
.has-context .popup__previous {
  display: block;
}
.has-context .popup__previous .prev {
  display: block;
}
.has-context .popup__previous:hover .popup__previous-col {
  background-color: rgba(204, 204, 204, 0.3);
}
/* Authorization */
.auth-popup.popup__table {
  background-color: rgba(0, 0, 10, 0.44);
}
.auth-popup .popup__inner {
  width: 480px;
  border: 0 none;
}
.auth-popup .popup__content {
  margin: 0;
  background-color: #ffffff;
}
.auth-popup .popup__close {
  display: none;
}
.auth__cont {
  background-color: #f8f8fa;
  overflow: hidden;
}
.auth__close {
  float: right;
  cursor: pointer;
  background-color: #505050;
  margin-top: -27px;
}
.auth__social {
  margin: 34px 40px 40px;
}
.auth__social-h {
  padding: 0;
  margin: 0 0 25px -1px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.auth__social-item {
  display: inline-block;
  margin-right: 10px;
}
.auth__social-item-lnk {
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #ffffff;
  text-decoration: none;
  font-size: 0;
  line-height: 0;
  border-style: solid;
  border-width: 0 1px 2px 0;
  padding: 16px 15px 14px 16px;
}
.auth__social-item-lnk:hover,
.auth__social-item-lnk:active,
.auth__social-item-lnk:focus {
  text-decoration: none;
}
.auth__social-item-lnk:active {
  border-width: 2px 0 0 1px;
  padding: 14px 16px 16px 15px;
}
.auth__social-item-lnk_vk {
  background-color: #557ea9;
  border-color: #275c93;
}
.auth__social-item-lnk_fb {
  background-color: #3266c8;
  border-color: #003fb7;
}
.auth__social-item-icn {
  vertical-align: top;
}
.auth__sign {
  margin: 40px 40px 0;
  padding-top: 3px;
}
.auth__sign-h {
  padding: 0;
  margin: 0 0 17px -1px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.auth__sign-toggler {
  float: right;
  line-height: 24px;
  color: #aeb6be;
}
.auth__sign .jhst__inp-group {
  background-color: #ffffff;
}
.auth__sign .jhst__inp-cont {
  padding: 12px 10px 13px;
}
.auth__sign .auth__sign-inp-name-cont {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  height: 0;
  padding: 0 10px 0;
  border-width: 0;
  overflow: hidden;
}
.auth__sign-submit-hidden {
  font-size: 0;
  width: 0;
  height: 0;
  position: absolute;
  line-height: 0;
  visibility: hidden;
  left: -1000px;
}
.auth__sign-submit {
  margin: 8px -40px 0;
  padding: 26px 40px 26px;
  text-align: right;
  background-color: #ffffff;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.auth__sign-submit-a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  border-style: solid;
  border-width: 0 1px 2px 0;
  padding: 10px 40px 10px 41px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #009ee7;
  border-color: #0077d6;
}
.auth__sign-submit-a:focus,
.auth__sign-submit-a:active,
.auth__sign-submit-a:hover {
  color: #ffffff;
  text-decoration: none;
}
.auth__sign-submit-a:active {
  border-width: 2px 0 0 1px;
  padding: 8px 41px 12px 40px;
}
.auth__sign-submit-error {
  font-size: 13px;
  line-height: 14px;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.auth__sign-user-agreement {
  font-size: 12px;
  line-height: 16px;
  width: 320px;
  margin-bottom: 27px;
}
.error .auth__sign-submit {
  background-color: #d34141;
}
.error .auth__sign-submit-error {
  opacity: 1;
  padding-right: 20px;
}
.signin .auth__sign-h_signin {
  display: block;
}
.signin .auth__sign-h_signup {
  display: none;
}
.signin .auth__sign-h_emailconfirm {
  display: none;
}
.signin .auth__sign-toggler_signin {
  display: none;
}
.signin .auth__sign-toggler_signup {
  display: static;
}
.signin .auth__sign-user-agreement {
  display: none;
}
.signin .auth__sign-submit_signin {
  display: inline-block;
}
.signin .auth__sign-submit_signup {
  display: none;
}
.signin .auth__sign-submit_emailconfirm {
  display: none;
}
.signin .jhst__inp-group {
  margin-bottom: 50px;
}
.signup .auth__sign-h_signin {
  display: none;
}
.signup .auth__sign-h_signup {
  display: block;
}
.signup .auth__sign-h_emailconfirm {
  display: none;
}
.signup .auth__sign-toggler_signin {
  display: static;
}
.signup .auth__sign-toggler_signup {
  display: none;
}
.signup .auth__sign-inp-name-cont {
  height: 14px;
  padding: 12px 10px 13px;
  border-bottom: 1px solid #e0e0e0;
}
.signup .auth__sign-user-agreement {
  display: block;
}
.signup .auth__sign-submit_signin {
  display: none;
}
.signup .auth__sign-submit_signup {
  display: inline-block;
}
.signup .auth__sign-submit_emailconfirm {
  display: none;
}
.emailconfirm .auth__social {
  display: none;
}
.emailconfirm .auth__sign-h_signin {
  display: none;
}
.emailconfirm .auth__sign-h_signup {
  display: none;
}
.emailconfirm .auth__sign-h_emailconfirm {
  display: block;
}
.emailconfirm .auth__sign-toggler {
  display: none;
}
.emailconfirm .auth__sign-inp-password-cont {
  height: 0;
  padding: 0 10px 0;
  border-width: 0;
  overflow: hidden;
}
.emailconfirm .auth__sign-user-agreement {
  display: none;
}
.emailconfirm .auth__sign-submit_signin {
  display: none;
}
.emailconfirm .auth__sign-submit_signup {
  display: none;
}
.emailconfirm .auth__sign-submit_emailconfirm {
  display: inline-block;
}
.warning-popup.popup__table {
  background-color: rgba(0, 0, 10, 0.44);
}
.warning-popup .popup__inner {
  width: 350px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.warning-popup .popup__close {
  display: none;
}
.warning-popup .popup__content {
  margin: 0;
  background-color: #ffffff;
  text-align: center;
}
.warning {
  padding: 32px;
}
.warning__h {
  font-size: 16px;
  line-height: 1;
  font-weight: 200;
  color: #d34141;
  padding: 0;
  margin: 0 0 22px 0;
}
.warning__p {
  font-size: 14px;
  line-height: 1.5;
  color: #282828;
  padding: 0;
  margin: 0 0 22px 0;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.warning__close {
  font-size: 16px;
  line-height: 1;
  color: #158adb;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.confirm-popup.popup__table {
  background-color: rgba(0, 0, 10, 0.44);
}
.confirm-popup .popup__inner {
  width: 310px;
}
.confirm-popup .popup__content {
  margin: 0;
  background-color: #ffffff;
  text-align: center;
}
.confirm-popup .popup__close {
  display: none;
}
.confirm {
  padding: 42px 40px 30px;
}
.confirm__p {
  font-size: 14px;
  line-height: 1.5;
  color: #282828;
  padding: 0;
  margin: 0 0 14px 0;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.confirm__line {
  padding: 0;
  margin: 0;
}
.confirm__ok,
.confirm__close {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 49%;
  text-align: center;
  font-size: 16px;
  line-height: 1;
  color: #d34141;
  padding: 10px 0 9px;
  margin: 0;
  cursor: pointer;
}
.confirm__ok {
  color: #158adb;
}
.confirm__close {
  border-left: 1px solid #dfdedd;
}
.confirm__p_success,
.confirm__p_error {
  font-size: 14px;
  line-height: 1.5;
  color: #282828;
  padding: 0;
  margin: 22px 0;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.confirm__p_error {
  color: #d34141;
}
.confirm__p_success,
.confirm__p_error {
  display: none;
}
.confirm_loading .confirm__p,
.confirm_loading .confirm__line {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
.confirm_loading .confirm__p_success,
.confirm_loading .confirm__p_error {
  display: none;
}
.confirm_success .confirm__p_success {
  display: block;
}
.confirm_success .confirm__p,
.confirm_success .confirm__line,
.confirm_success .confirm__p_error {
  display: none;
}
.confirm_error .confirm__p_error {
  display: block;
}
.confirm_error .confirm__p,
.confirm_error .confirm__line,
.confirm_error .confirm__p_success {
  display: none;
}
/* feedbackorization */
.feedback-popup.popup__table {
  background-color: rgba(0, 0, 10, 0.6);
}
.feedback-popup .popup__inner {
  width: 640px;
  border: 0 none;
  background-color: #4e8bbd;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(110deg, #3f599e, #4e8bbd);
  background-image: -webkit-linear-gradient(110deg, #3f599e, #4e8bbd);
  background-image: -o-linear-gradient(110deg, #3f599e, #4e8bbd);
  background-image: linear-gradient(110deg, #3f599e, #4e8bbd);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 65px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 65px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.2);
}
.feedback-popup .popup__content {
  margin: 0;
  background-color: transparent;
}
.feedback-popup .popup__close {
  display: none;
}
.feedback__cont {
  overflow: hidden;
}
.feedback__close {
  float: right;
  cursor: pointer;
}
.feedback__s {
  padding: 40px;
  color: #ffffff;
}
.feedback__h {
  padding: 0;
  margin: 3px 0 32px -1px;
  font-family: 'proxima_nova_thextrabold';
  font-weight: normal;
  font-size: 34px;
  line-height: 1;
}
.feedback__p {
  padding: 0;
  margin: 0 0 23px;
  font-size: 24px;
  line-height: 30px;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: normal;
}
.feedback__p2 {
  padding: 0;
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 24px;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
}
.feedback__form {
  text-align: center;
  margin-top: 52px;
}
.feedback__email {
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  overflow: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
  background: #ffffff;
  width: 410px;
  padding: 4px 10px 4px;
  font-size: 15px;
  border: 2px solid #ffffff;
  -webkit-transition: border 0.4s;
  -moz-transition: border 0.4s;
  -o-transition: border 0.4s;
  transition: border 0.4s;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
}
.feedback__submit {
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  overflow: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #f4614e;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 13px;
  width: 324px;
  display: block;
  margin: 20px auto 8px;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.feedback__submit:hover {
  background: #d05342;
}
.feedback__p3 {
  color: #88bbf0;
  font-size: 14px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
}
.error .feedback__email {
  border-color: #f4614e;
}
.body__page-landing {
  background-color: #ffffff;
}
.body__page-landing #jhst-container {
  width: 100%;
}
.landing-section {
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
  z-index: 2;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
  min-width: 960px;
}
.landing__container {
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.landing__container:before,
.landing__container:after {
  display: table;
  content: "";
  line-height: 0;
}
.landing__container:after {
  clear: both;
}
.landing__h1,
.landing__h2,
.landing__h3,
.landing__p {
  padding: 0;
  margin: 0;
}
.landing__header {
  background: transparent;
  overflow: hidden;
  padding: 8px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 33;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 0;
  line-height: 0;
}
.landing__logo-a {
  margin-top: 25px;
  display: inline-block;
}
.landing__logo {
  width: 140px;
  height: 40px;
  background: url(/images/bg/logo.png);
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.landing__header-info {
  float: right;
  text-align: right;
  margin-top: 14px;
}
.landing__header-info-p1 {
  color: #6bb8f8;
  font-size: 20px;
  line-height: 38px;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.landing__header-info-p2 {
  color: #6bb8f8;
  font-size: 13px;
  line-height: 1;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.landing__header-btn-cont {
  display: none;
  float: right;
}
.landing__header-btn {
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  overflow: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #f4614e;
  font-size: 14px;
  line-height: 20px;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: normal;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 13px;
  margin: 3px 0 0;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.landing__header-btn:hover,
.landing__header-btn:active,
.landing__header-btn:visited {
  background: #d05342;
}
.scrolled .landing__header {
  background: #ffffff;
  position: fixed;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.scrolled .landing__logo-a {
  margin-top: 0;
}
.scrolled .landing__logo {
  width: 121px;
  height: 33px;
  background: url(/images/bg/logo_.png);
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.scrolled .landing__header-info {
  display: none;
}
.scrolled .landing__header-btn-cont {
  display: block;
}
.landing-section1 {
  width: 100%;
  z-index: 1;
  background: #3072ba;
}
.landing-section1 .landing__container {
  display: table;
  min-height: 180px;
}
.landing-section1 .landing__container-in {
  display: table-cell;
  vertical-align: middle;
}
.landing-section1 .i {
  margin-right: 45px;
  margin-top: 7px;
}
.landing-section1 .landing__h1 {
  display: inline-block;
  vertical-align: top;
  margin-top: 39px;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
  width: 328px;
}
.landing__h1 {
  font-size: 32px;
  line-height: 38px;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
  text-align: left;
}
.landing-section2 {
  background: url(/images/bg/s2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 320px;
  min-width: 960px;
}
.landing__s2_col1,
.landing__s2_col2 {
  float: left;
  text-align: left;
}
.landing__s2_col1 {
  width: 50%;
  margin-left: 160px;
}
.landing__s2_col2 {
  width: 50%;
  background: #ffde33;
  height: 320px;
  margin-right: -160px;
}
.landing__s2_col1-in {
  width: 640px;
  float: right;
  padding-top: 58px;
}
.landing__s2_col1-in .landing__h2 {
  color: #ffffff;
  font-size: 12px;
  line-height: 35px;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
  text-transform: uppercase;
}
.landing__s2_col1-in .landing__p {
  color: #ffffff;
  font-size: 22px;
  line-height: 32px;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: normal;
  margin: 11px 0;
}
.landing__s2_col2-in {
  width: 320px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 118px 0 0 78px;
  color: #000000;
}
.landing__s2_col2-in .landing__h2 {
  font-size: 46px;
  line-height: 30px;
  font-family: 'proxima_nova_thextrabold';
  font-weight: normal;
  width: 200px;
}
.landing__s2_col2-in .landing__p {
  font-size: 20px;
  line-height: 22px;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
  margin: 5px 0 33px;
}
.landing__s2_col2-a {
  color: #000000;
  text-decoration: underline;
  font-size: 13px;
  line-height: 18px;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
  display: block;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.landing__s2_col2-a:hover,
.landing__s2_col2-a:visited {
  color: #e8492f;
  text-decoration: underline;
}
.landing__s2_col2-a mark {
  background: transparent;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: normal;
  color: #0165d2;
}
.landing-section3 {
  background-color: #8bced4;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(-146deg, #394278, #8bced4);
  background-image: -webkit-linear-gradient(-146deg, #394278, #8bced4);
  background-image: -o-linear-gradient(-146deg, #394278, #8bced4);
  background-image: linear-gradient(-146deg, #394278, #8bced4);
  text-align: left;
  padding: 80px 0;
}
.landing__block1,
.landing__block2 {
  float: left;
}
.landing__block1 {
  width: 600px;
  margin-right: 40px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 32px 40px 23px;
}
.landing__block1 .landing__h3 {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: normal;
  letter-spacing: 2px;
}
.landing__toggler {
  display: block;
  background: #f9fafc;
  margin: 24px 0 38px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 12px 0 11px;
}
.landing__toggler:hover,
.landing__toggler:visited {
  text-decoration: none;
  color: #000000;
}
.landing__toggler-t1 {
  display: inline-block;
  font-size: 15px;
  line-height: 2;
  color: #000000;
  vertical-align: top;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.landing__toggler-t1:hover {
  color: #e8492f;
}
.landing__toggler-widget {
  display: inline-block;
  background: #56a7ff;
  width: 77px;
  height: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 12px 18px 0;
  position: relative;
  vertical-align: top;
}
.landing__toggler-widget:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #c8c8d2;
  background: #ffffff;
  top: -8px;
  position: absolute;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
  margin-left: 0;
}
.landing__toggler-t2 {
  display: inline-block;
  font-size: 15px;
  line-height: 2;
  color: #1096ed;
  vertical-align: top;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.landing__toggler-t2:hover {
  color: #1096ed;
}
.toggle_on .landing__toggler-t1 {
  color: #1096ed;
}
.toggle_on .landing__toggler-t1:hover {
  color: #1096ed;
}
.toggle_on .landing__toggler-widget:before {
  left: 100%;
  margin-left: -20px;
}
.toggle_on .landing__toggler-t2 {
  color: #000000;
}
.toggle_on .landing__toggler-t2:hover {
  color: #e8492f;
}
.landing__s3-list {
  display: block;
  margin: 0 0 0 18px;
  padding: 0;
}
.landing__s3-list li {
  display: block;
  margin: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.landing__s3-list li.less {
  height: 21px;
  margin-bottom: 29px;
}
.landing__s3-list li.less.adv {
  height: 41px;
}
.landing__s3-list li.more {
  height: 0;
  margin-bottom: 0;
}
.landing__s3-list li.more.adv {
  height: 0;
}
.landing__s3-list .i {
  margin-right: 10px;
}
.toggle_on .landing__s3-list li.less {
  height: 0;
  margin-bottom: 0;
}
.toggle_on .landing__s3-list li.less.adv {
  height: 0;
}
.toggle_on .landing__s3-list li.more {
  height: 21px;
  margin-bottom: 29px;
}
.toggle_on .landing__s3-list li.more.adv {
  height: 41px;
}
.landing__s3-itm {
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}
.landing__s3-itm-misc {
  font-size: 13px;
  line-height: 20px;
  color: #8c8e96;
  display: block;
  margin-left: 22px;
}
.landing__block2 {
  width: 320px;
  background: #489af2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 32px 35px 34px 40px;
}
.landing__block2 .landing__h3 {
  font-size: 17px;
  line-height: 20px;
  font-family: 'proxima_nova_thextrabold';
  font-weight: normal;
  color: #ffffff;
  margin: 24px 0 5px;
}
.landing__block2 .landing__p {
  font-size: 15px;
  line-height: 20px;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
  color: #ffffff;
}
.landing-section4 {
  background: #ffffff;
  padding: 90px 0;
  text-align: left;
}
.landing-section4 .i-clnd {
  float: left;
  margin: 0 93px 0 84px;
}
.landing-section4 .landing__h2 {
  font-size: 18px;
  line-height: 30px;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000;
  margin: 0 0 14px;
}
.landing-section4 .landing__p {
  font-size: 16px;
  line-height: 22px;
  font-family: 'proxima_nova_ltlight';
  font-weight: normal;
  color: #000000;
  width: 450px;
}
.landing__s4-col {
  margin-left: 280px;
}
.landing-section5 {
  background: #f9fafc;
  text-align: left;
  padding: 91px 0 72px;
}
.landing__s5-col1,
.landing__s5-col2 {
  float: left;
}
.landing__s5-col1 {
  width: 480px;
  margin: 0 78px 0 80px;
}
.landing__s5-col1 .landing__h3 {
  font-size: 18px;
  line-height: 30px;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000;
  margin: 0 0 14px;
}
.landing__s5-col1 .landing__p {
  font-size: 16px;
  line-height: 22px;
  font-family: 'proxima_nova_ltlight';
  font-weight: normal;
  color: #6e7882;
}
.landing__s5-col2 {
  margin-top: 43px;
}
.landing__s5-col2 .landing__p {
  font-size: 11px;
  line-height: 28px;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 17px 0;
}
.landing__s5-col2 .i {
  vertical-align: top;
  margin-right: 6px;
}
.landing-sp {
  margin-left: 8px;
}
.landing-section6 {
  background-color: #5998bd;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(-146deg, #325591, #5998bd);
  background-image: -webkit-linear-gradient(-146deg, #325591, #5998bd);
  background-image: -o-linear-gradient(-146deg, #325591, #5998bd);
  background-image: linear-gradient(-146deg, #325591, #5998bd);
  text-align: left;
}
.landing-section6 .landing__container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 90px 80px 70px;
}
.landing-section6 .landing__h2 {
  font-size: 18px;
  line-height: 32px;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  width: 420px;
}
.landing-section6 .landing__p {
  font-size: 15px;
  line-height: 22px;
  font-family: 'proxima_nova_ltlight';
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 22px;
}
.landing__s6-logos {
  margin: 40px 0 54px;
}
.landing__s6-logos .i {
  margin-right: 40px;
}
.landing__s6-col1,
.landing__s6-col2 {
  float: left;
  width: 360px;
}
.landing__s6-col1 a,
.landing__s6-col2 a {
  word-break: break-all;
  color: #ffd75d;
  text-decoration: none;
}
.landing__s6-col1 a:hover,
.landing__s6-col2 a:hover,
.landing__s6-col1 a:visited,
.landing__s6-col2 a:visited {
  color: #ffd75d;
  text-decoration: underline;
}
.landing__s6-col1 {
  margin-right: 80px;
}
.landing-section7 {
  background: #ffffff;
  padding: 90px 0 90px;
}
.landing-section7 .landing__h2 {
  font-size: 18px;
  line-height: 32px;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000;
  text-align: center;
  margin: 0 0 30px;
}
.landing__reviews {
  position: relative;
}
.landing__review-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 13px;
  background: #ffffff;
  z-index: 1;
}
.landing__review-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 13px;
  background: #ffffff;
  z-index: 1;
}
.landing__review-list {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}
.landing__review {
  padding: 0 120px;
  position: relative;
  width: 100%;
  height: 238px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  -webkit-transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  transition: margin 0.3s;
}
.landing__review .landing__p {
  font-size: 18px;
  line-height: 28px;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
  color: #16a373;
  text-align: center;
  margin: 0 0 10px;
  white-space: normal;
}
.landing__review-desc {
  position: absolute;
  right: 120px;
  bottom: 0;
  text-align: right;
}
.landing__review-author {
  font-size: 14px;
  line-height: 18px;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: normal;
  color: #000000;
}
.landing__review-a {
  font-size: 12px;
  line-height: 28px;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
  color: #329de8;
  display: block;
}
.landing-section8 {
  background: url(/images/bg/s7.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 392px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 80px 0;
}
.landing-section8 .landing__h2 {
  font-size: 18px;
  line-height: 30px;
  font-family: 'proxima_nova_ltsemibold';
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 3px;
  margin-bottom: 39px;
}
.landing__email-form {
  display: block;
  padding: 0;
  margin: 0;
}
.landing__email-inp {
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  overflow: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
  background: #ffffff;
  width: 410px;
  padding: 4px 10px 4px;
  border: 2px solid #ffffff;
  font-size: 15px;
  -webkit-transition: border 0.4s;
  -moz-transition: border 0.4s;
  -o-transition: border 0.4s;
  transition: border 0.4s;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
}
.landing__email-submit {
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  overflow: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #f4614e;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 13px;
  width: 224px;
  display: block;
  margin: 30px auto 8px;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
}
.transition(background .2s) .landing__email-submit:hover {
  background: #d05342;
}
.landing__email-desc {
  color: #7c929f;
  font-size: 14px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
}
.error .landing__email-inp {
  border-color: #f4614e;
}
.landing__footer {
  min-width: 960px;
}
.landing__footer .services__partners {
  border-top: #f1f1f1 solid 1px;
  padding-top: 15px;
  text-align: center;
  margin: 45px auto 10px;
  max-width: 1080px;
}
.landing__footer .services__partners li {
  display: inline-block;
  list-style: none;
  margin-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.landing__footer .services__partners li a img {
  height: 29px;
}
.landing__footer .cut-line {
  display: block;
  clear: both;
  border-bottom: #f1f1f1 solid 1px;
}
.landing__footer .footer {
  max-width: 1200px;
  margin: 0 auto;
}
.landing__footer .footer__links_blocks_handler {
  font-size: 13px;
  display: table;
  width: 95%;
  color: #767676;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.landing__footer .footer__links_blocks_handler ul {
  float: left;
  padding-bottom: 15px;
  padding-left: 25px;
  width: 20%;
  vertical-align: top;
}
.landing__footer .footer__links_blocks_handler ul li.footer__links_header {
  font-weight: 600;
}
.landing__footer .footer__links_blocks_handler ul li {
  list-style: none;
  margin-top: 5px;
  line-height: 1.3;
}
.landing__footer .footer__links_blocks_handler ul li a {
  color: #767676;
  text-decoration: none;
}
.landing__footer .footer__links_blocks_handler ul li a:hover {
  text-decoration: underline;
}
.landing__footer .footer__version {
  font-size: 11px;
  margin: 0 15px 15px 0;
  text-align: right;
}
.error-page__list,
.error-page__description {
  margin-top: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #282828;
}
.error-page__list-item {
  margin-bottom: 10px;
  list-style: none;
}
